chromedriver_win32/
twittercreds.py
tweetapi.json
pinterest_api_keys.json
FeaturedTweets*
img/
img_compressed/
pinterestcreds.py
__pycache__/
instagramcreds.py
*.log
*.ipynb
.ipynb_checkpoints/
geckodriver-v0.26.0-win64/
log_*
master_log*
do_not_unfollow*